.audio-controls {
  display: flex;
  justify-content: space-between;
  width: 70%;
  &__next {
    transform: rotate(180deg);
  }
  &__prev svg,
  &__next svg {
    width: 35px;
    height: 35px;
  }
  &__play svg, &__pause svg {
    width: 40px;
    height: 40px;
  }
}
